# Dependency directory
cypress/screenshots/
cypress/videos/
cypress/reports/
cypress/downloads/
node_modules/

# Result tests 
cypress/videos/*
cypress/screenshots/*
cypress/reports/junit/*
mochawesome-report/*
public/*
index.json
